@import 'theme.css';

* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;

  padding: 0;
  margin: 0;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;

  padding: 0;
  margin: 0;
  
  margin-top: -2;
  margin-bottom: -2;
}

#workspaces {
  padding: 0.1rem 0.2rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @surface0;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
  color: @text;
}

#workspaces button:hover {
  color: @base;
  background-color: @text;
}

#workspaces button.active {
  background-color: @base;
  color: @blue;
}

#workspaces button.urgent {
  background-color: @base;
  color: @red;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#custom-keyboard,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
}

#custom-keyboard{
  color: #add8e6
}

#mpris.playing {
  color: @green;
}

#mpris.paused {
  color: @overlay2;
}

#custom-sep {
  padding: 0px;
  color: @surface2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @teal;
}

#memory {
  color: @mauve;
}

#clock {
  color: @sapphire;
}

#clock.simpleclock {
  color: @blue;
}

#window {
  color: @text;
}

#pulseaudio {
  color: @lavender;
}

#pulseaudio.muted {
  color: @subtext0;
}

#custom-logo {
  color: @blue;
}

#custom-power {
  color: @red;
}

tooltip {
  background-color: @mantle;
  border: 2px solid @blue;
}
